<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hypertech.tableaffairs">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".account.MyOrder">
        </activity>
        <activity android:name=".account.MyOrders">
        </activity>
        <activity android:name=".checkout.ConfirmationActivity">
        </activity>
        <activity android:name=".checkout.Ordered">
        </activity>
        <activity android:name=".checkout.CheckOut">
        </activity>
        <activity
                android:name=".account.ResetPassword"
                android:label="@string/title_activity_resetpassword">
        </activity>
        <activity
                android:name=".contact.AboutUs"
                android:label="@string/title_activity_aboutus">
        </activity>
        <activity
                android:name=".contact.ContactUs"
                android:label="@string/title_activity_contactus">
        </activity>
        <activity
                android:name=".cart.ShoppingCart"
                android:label="@string/title_activity_shoppingcart">
        </activity>
        <activity android:name=".products.ProductActivity">
        </activity>
        <activity android:name=".brands.BrandActivity">
        </activity>
        <activity
                android:name=".brands.BrandsActivity"
                android:label="@string/title_activity_brands">
        </activity>
        <activity
                android:name=".account.Register"
                android:label="@string/title_activity_register"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".account.Login"
                android:label="@string/title_activity_login"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".MainEmptyActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>